* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  .name {
    font-size: 35px;
    color: #fafafa;
  }
  
  .nav-bar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
  }
  
  .nav-bar ul {
    display: flex;
    gap: 70px;
  }
  
  .nav-bar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-bar ul li {
    list-style: none;
  }
  
  .nav-bar ul li a:hover {
    border-bottom: 3px solid #ED661F;
    transition: 0.2s ease;
  }
  
  .active a {
    border-bottom: 2px solid #ED661F;
  }
  
  .action {
    align-items: center;
    display: flex;
    gap: 50px;
  }
  
  .action a {
    font-size: inherit;
    color: white;
    text-decoration: none;
  }
  
  .action a:hover {
    border-bottom: 2px solid #ED661F;
    transition: 0.2s ease;
  }
  
  .action button {
    border-radius: 4px;
    border: none;
    height: 50px;
    width: 137px;
    background-color: #ED661F;
  }
  
  .action button.started:hover {
    color: #FFFFFF;
    background-color: black;
    border: 3px solid #ED661F;
    transition: 0.1s ease;
  }
  
  .intro{
    width: 100%;
    height:80px;
    background-image: url("../images/Assets/image\ 1.png");
    background-color: #000;
  }

  .text{
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    display: flex-left;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    margin-left: 150px;

  }
  .explore{
    height: 50px;
    width: 150px;
    margin-top: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ED661F;
    font-weight: 900;
    font-size: 18px;
  }

  .intro-image{
    display: flex-right;
    width: 100px;
  }


  
  
  